@use './sass/index';
.img-fit { width: 100%; object-fit: content; background-size: cover; background-position: center; }
a { text-decoration: none; }
.grid { display: grid; grid-template-columns: repeat(4, 1fr); gap: 0px; }